<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap" rel="stylesheet"> 
    <title>Platzi Video App</title>
</head>

<body>
    <section class="main">
        <h2 class="main__title">¿Qué queres ver hoy?</h2>
        <input class="buscador" type="text" placeholder="Buscar...">
    </section>
</body>
</html>