<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap" rel="stylesheet"> 
    <title>Platzi Video App</title>
</head>

<body>
    <header class="header">
        <img class="header__img" src="images/logo-platzi-video-BW2.png">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="images/user-icon.png">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="/">Cuenta</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>
</body>

</html>